NEXTCLOUD_PORT=8080
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=changeMeStrongPassword
NEXTCLOUD_TRUSTED_DOMAINS=localhost

MYSQL_ROOT_PASSWORD=changeMeRootPassword
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=changeMeDbPassword
