# https://docs.immich.app/install/environment-variables

UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres

IMMICH_VERSION=release
IMMICH_PORT=2283

# TZ=America/New_York

# Use only A-Za-z0-9 — no special characters
DB_PASSWORD=changeMeImmichDbPassword
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
