JELLYFIN_VERSION=latest
JELLYFIN_HTTP_PORT=8096
JELLYFIN_HTTPS_PORT=8920
TZ=America/New_York

CONFIG_PATH=./config
CACHE_PATH=./cache
# Point this at a folder of media you already own
MEDIA_PATH=./media
